

 <html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	 crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<div class="m-5 border">
  <h2 class="text-center">Justiça erra e expede mandado de prisão para o endereço de cientista de dados que ficou 23 dias detido por engano</h2><br>
  <h4>Primeira Vara Criminal informou que soube do problema pela imprensa e já corrigiu o erro. Raoni Lázaro Barbosa deixou a prisão na quinta-feira (9). Ele foi preso após ser confundido com Raoni Ferreira, apontado como integrante de uma milícia em Caxias.</h4>
  <h5>Por Ben-Hur Correia, Bom Dia Rio</br>
15/09/2021 08h05</h5>

  <img class="col-xs-8 col-md-5 p-5" src="https://s2.glbimg.com/l8_OcY-eQDhIpiG1DEFTwVjbV9A=/0x0:1920x1080/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/c/e/AscqfqTKSksQ4AoshpvQ/rj2-rj2-preso-inocente-raoni-frame-38205.jpeg" alt="">

  <h4>Menos de uma semana depois de voltar para casa após passar 23 dias preso por engano, o cientista de dados Raoni Lázaro Barbosa foi vítima de outro erro. Desta vez, a Justiça emitiu o mandado de prisão para o miliciano Raony Ferreira, que vive em Duque de Caxias, na Baixada Fluminense, mas o endereço era o de Raoni Lázaro, que mora em Campo Grande, na Zona Oeste do Rio.<br> <br>
  A 1ª Vara Criminal informou, na manhã desta quarta (15), que soube do problema pela imprensa, está apurando de quem foi o erro e já determinou a retificação do mandado.<br> <br>
  "É um pesadelo que não acaba. Na noite de terça-feira (14), ficamos sabendo que o mandado de prisão foi expedido com o nosso endereço. É uma sequência de erros inadmissível. Temos medo de passar mais uma vez por tudo que já passamos", reclamou a noiva de Raoni, Érica Armond.<br><br>
  Na noite de terça (14), assim que souberam do erro, os advogados do cientista de dados peticionaram a mudança de endereço junto à Justiça para evitar que a polícia voltasse a prender o Raoni inocente.</h4></div>
</body>
</html>
