<!DOCTYPE html>
 <htmllang ="en">
<head>
<meta charset="t UTF-8">
 <meta name ="viewport"content= width=device width,
initial-scale=1.0">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	 crossorigin="anonymous">
 <title>Noticias</title>
 </head>
 <body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<div class="border">
<div class="border p-4">
 <h2>Justiça erra e expede mandado de prisão para o endereço de cientista de dados que ficou 23 dias detido por engano</h2>
 <img class="col-xs-8 col-md-5 p-5"src="https://s2.glbimg.com/l8_OcY-eQDhIpiG1DEFTwVjbV9A=/0x0:1920x1080/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/c/e/AscqfqTKSksQ4AoshpvQ/rj2-rj2-preso-inocente-raoni-frame-38205.jpeg" alt=""></div>


<div class="border p-4">
<h2>Luiza Trajano é a única brasileira na lista de 100 mais influentes da revista 'Time'</h2>
<img class="col-xs-8 col-md-5 p-5" src="https://s2.glbimg.com/8tfiSFaejlYlu4u7Nu-GeqIw3YY=/0x0:962x705/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/R/x/KFpCSiS0OWNBMnvB09Ig/luiza-helena-trajano.jpeg" alt="">
</div>

<div class="border p-4">
<h2>Celulares dobráveis da Samsung, Galaxy Z Fold 3 e Galaxy Z Flip 3, chegam ao Brasil com preços 'menores'</h2>
<img class="col-xs-8 col-md-5 p-5" src="https://s2.glbimg.com/fEEjQrGA0I-LakUroqQ7g8fLv1U=/0x0:1600x900/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/H/9/pVOA9xTZWurMmU1zqDbg/samsung-galaxy-z-fold-flip-3.jpg" alt="">
</div>

<div class="border p-4">
<h2>Guitarra avaliada em R$ 40 mil roubada há 5 anos em MG é recuperada no ES</h2>
<img class="col-xs-7 col-md-4 p-5" src="https://s2.glbimg.com/zpZXnhCgwp7qmFvwFdjvAGywZ8Q=/0x0:1512x1512/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2021/N/j/9FYAcATT6WOBA2IW8zBw/whatsapp-image-2021-09-15-at-14.10.57.jpeg" alt="">
</div>
</div>